name = "doublexl-crawler"
main = "./dist/index.js"
compatibility_date = "2024-01-01"

account_id = "98121903f98f5f4e47fc3a30e150cd57"

# Route configuration
route = "https://doublexl-crawler.doublexl.workers.dev/*"

# Environment Variables
[vars]
ENV = "production"

# Durable Object bindings
[durable_objects]
bindings = [
  { name = "CRAWL_CONTROLLER", class_name = "CrawlController" }
]

# Durable Object migrations
[[migrations]]
tag = "v1"
new_classes = ["CrawlController"]

# R2 Bucket bindings
[[r2_buckets]]
binding = "CRAWL_BUCKET"
bucket_name = "doublexl-storage"

# D1 database binding
[[d1_databases]]
binding = "CRAWL_DB"
database_id = "c7e4c2ae-4c3b-4a21-b1fc-890328c0b7a2"

# Optional: KV namespace for storing additional metadata
[[kv_namespaces]]
binding = "VISITED_KV"
id = "95b888fd95ea47caa3d50107817562fe"

# Cron triggers
[triggers]
crons = ["0 0 * * *"]
